langchain-community
langchain-openai
langchain-chroma
opencv-python

# For ali_text_splitter
modelscope
addict
# https://github.com/modelscope/modelscope/issues/1050
datasets<=3.0.1
oss2
simplejson
modelscope[nlp]

# API Service Only
fastapi
python-multipart